<div class="container homepage">
	<h3>Welcome!</h3>
	<span>
		We took a look at the application with our technical leader but alas she did not find the
		application well. She thinks some refactoring and bug fixing need to be done.
	</span>

	<div class="box">
		<h3>Acceptance Criteria</h3>
		<ul>
			<li>
				The login page must have a static -pre defined- username and password. Users should be
				allowed to land user dashboard only if username and password are "admin".
			</li>
			<li>
				The login state must be persistent. Such that when the page is refreshed, user should not go
				back to login page. However, when the browser closed, the session must be destroyed. Then,
				once user comes back, they should see the login page first.
			</li>
			<li>We need to have a responsive design on dashboard cards page.</li>
			<li>
				Auth checks need to be better. She did not find checking auth state on every page well.
			</li>
			<li>In the dashboard home page layout should be fixed and scroll bar should not visible.</li>
			<li>We have an issue on dashboard/data path and we did not find a way to resolve</li>

			<li>
				We need to have some refactoring work in terms of performance and best practice, so feel
				free to change anything that doesn't seem correct to you.
			</li>
		</ul>
	</div>
</div>
